<div [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label [attr.for]="control.label">{{ control.label }}</mat-label>
        
        <mat-select
                [id]="control.id" 
                [formControlName]="control.id">
                <mat-option *ngFor="let option of control.options" [value]="option.key">{{ option.label }}</mat-option>
        </mat-select>
        <mat-error 
            *ngIf="isDirty || isTouched">
            <span 
                *ngIf="!isValid">
                {{ control.label }} is required!
            </span>
        </mat-error>
    </mat-form-field>
</div>