 <mat-card>
    <mat-card-header>
        <mat-card-title>Fit Vit</mat-card-title>
        <mat-card-subtitle>Your personalized vitamins.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-stepper 
            orientation="vertical" 
            #stepper>
            <mat-step [stepControl]="basicsFormGroup">
                <div *ngFor="let control of formData">
                    <div *ngIf="control.section === eFormSections.Basics">
                        <form [formGroup]="basicsFormGroup">
                            <ng-template matStepLabel>{{ eFormSections.Basics.toUpperCase() }}</ng-template>
                            <field-builder
                                [control]="control" 
                                [form]="basicsFormGroup">
                            </field-builder>
                        </form>
                    </div>
                </div>
                <div class="mat-stepper-buttons">
                    <button 
                        [disabled]="!basicsFormGroup.valid"
                        mat-raised-button 
                        color="primary"
                        matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="goalsFormGroup">
                <div *ngFor="let control of formData">
                    <div *ngIf="control.section === eFormSections.Goals">
                        <form [formGroup]="goalsFormGroup">
                            <ng-template matStepLabel>{{ eFormSections.Goals.toUpperCase() }}</ng-template>
                            <field-builder
                                [control]="control" 
                                [form]="goalsFormGroup">
                            </field-builder>
                        </form>
                    </div>
                </div>
                <div class="mat-stepper-buttons">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
             <mat-step [stepControl]="dietFormGroup">
                <div *ngFor="let control of formData">
                    <div *ngIf="control.section === eFormSections.Diet">
                        <form [formGroup]="dietFormGroup">
                            <ng-template matStepLabel>{{ eFormSections.Diet.toUpperCase() }}</ng-template>
                            <field-builder
                                [control]="control" 
                                [form]="dietFormGroup">
                            </field-builder>
                        </form>
                    </div>
                </div>
                <div class="mat-stepper-buttons">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
             <mat-step [stepControl]="lifestyleFormGroup">
                <div *ngFor="let control of formData">
                    <div *ngIf="control.section === eFormSections.Lifestyle">
                        <form [formGroup]="lifestyleFormGroup">
                            <ng-template matStepLabel>{{ eFormSections.Lifestyle.toUpperCase() }}</ng-template>
                            <field-builder
                                [control]="control" 
                                [form]="lifestyleFormGroup">
                            </field-builder>
                        </form>
                    </div>
                </div>
                <div class="mat-stepper-buttons">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
        </mat-stepper>
    </mat-card-content>
    
    <pre>BASICS FORM: {{ basicsFormGroup.value | json }}</pre>
    <pre>GOALS FORM: {{ goalsFormGroup.value | json }}</pre>
    <pre>DIET FORM: {{ dietFormGroup.value | json }}</pre>
    <pre>LIFESTYLE FORM: {{ lifestyleFormGroup.value | json }}</pre>
    <!-- <mat-card-actions align="end">
        <strong>Saved all values</strong>
        <button 
            type="submit" 
            mat-raised-button 
            color="primary">Save</button>
    </mat-card-actions> -->
</mat-card>