 <mat-card>
    <mat-card-header>
        <mat-card-title>Fit Vit</mat-card-title>
        <mat-card-subtitle>Your personalized vitamins.</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-stepper 
            [linear]="true"
            orientation="vertical" 
            #stepper>
            <mat-step [stepControl]="basicsFormGroup">
                <div *ngFor="let control of formData">
                    <div *ngIf="control.section === eFormSections.Basics">
                        <form [formGroup]="basicsFormGroup">
                            <ng-template matStepLabel>{{ eFormSections.Basics.toUpperCase() }}</ng-template>
                            <field-builder
                                [control]="control" 
                                [form]="basicsFormGroup">
                            </field-builder>
                        </form>
                    </div>
                </div>
                <div class="mat-stepper-buttons">
                    <button 
                        (click)="onNextButtonClick(basicsFormGroup)"
                        [disabled]="!basicsFormGroup.valid"
                        mat-raised-button 
                        color="primary"
                        matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step [stepControl]="goalsFormGroup">
                <div *ngFor="let control of formData">
                    <div *ngIf="control.section === eFormSections.Goals">
                        <form [formGroup]="goalsFormGroup">
                            <ng-template matStepLabel>{{ eFormSections.Goals.toUpperCase() }}</ng-template>
                            <field-builder
                                [control]="control" 
                                [form]="goalsFormGroup">
                            </field-builder>
                        </form>
                    </div>
                </div>
                <div class="mat-stepper-buttons">
                    <button mat-button matStepperPrevious>Back</button>
                    <button 
                        (click)="onNextButtonClick(goalsFormGroup)"
                        [disabled]="!goalsFormGroup.valid"
                        mat-raised-button 
                        color="primary" 
                        matStepperNext>Next</button>
                </div>
            </mat-step>
             <mat-step [stepControl]="dietFormGroup">
                <div *ngFor="let control of formData">
                    <div *ngIf="control.section === eFormSections.Diet">
                        <form [formGroup]="dietFormGroup">
                            <ng-template matStepLabel>{{ eFormSections.Diet.toUpperCase() }}</ng-template>
                            <field-builder
                                [control]="control" 
                                [form]="dietFormGroup">
                            </field-builder>
                        </form>
                    </div>
                </div>
                <div class="mat-stepper-buttons">
                    <button mat-button matStepperPrevious>Back</button>
                    <button 
                        (click)="onNextButtonClick(dietFormGroup)"
                        [disabled]="!dietFormGroup.valid"
                        mat-raised-button 
                        color="primary" 
                        matStepperNext>Next</button>
                </div>
            </mat-step>
             <mat-step [stepControl]="lifestyleFormGroup">
                <div *ngFor="let control of formData">
                    <div *ngIf="control.section === eFormSections.Lifestyle">
                        <form [formGroup]="lifestyleFormGroup">
                            <ng-template matStepLabel>{{ eFormSections.Lifestyle.toUpperCase() }}</ng-template>
                            <field-builder
                                [control]="control" 
                                [form]="lifestyleFormGroup">
                            </field-builder>
                        </form>
                    </div>
                </div>
                <div class="mat-stepper-buttons">
                    <button mat-button matStepperPrevious>Back</button>
                    <button 
                        (click)="onNextButtonClick(lifestyleFormGroup, true)"
                        [disabled]="!lifestyleFormGroup.valid"
                        mat-raised-button 
                        color="primary" 
                        matStepperNext>Next</button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>RECOMMENDATIONS</ng-template>
                <ng-container *ngIf="isNovice">
                    <mat-card>
                        <mat-card-subtitle>Here is your result, {{ userName }}!</mat-card-subtitle>
                        <p>{{ formData.length }} questions</p>
                        <mat-card-title>You are {{ classification }} in vitamins knowledge!</mat-card-title>
                        <mat-card-content>
                            <p>Total points: {{ totalPoints }}</p>
                            <p>{{ userName }}, you are still a beginner in terms of knowledge regarding vitamins.</p>
                            <p>We recommend you to take beginner friendly vitamins that are also essential to everyday well-being.</p>
                            <mat-chip-list>
                                <mat-chip *ngFor="let vitamin of userVitamins" color="accent" selected>{{ vitamin.name }}</mat-chip>
                            </mat-chip-list>
                        </mat-card-content>
                    </mat-card>
                </ng-container>    
                <ng-container *ngIf="isCompetent">
                    <mat-card>
                        <mat-card-subtitle>Here is your result, {{ userName }}!</mat-card-subtitle>
                        <p>{{ formData.length }} questions</p>
                        <mat-card-title>You are {{ classification }} in vitamins knowledge!</mat-card-title>
                        <mat-card-content>
                            <p>Total points: {{ totalPoints }}</p>
                            <p>You are getting there {{ userName }}!</p>
                            <p>We're glad you know your vitamins! Check these out for additional vitamins knowledge.</p>
                            <mat-chip-list>
                                <mat-chip *ngFor="let vitamin of userVitamins" color="accent" selected>{{ vitamin.name }}</mat-chip>
                            </mat-chip-list>
                        </mat-card-content>
                    </mat-card>
                </ng-container>    
                <ng-container *ngIf="isExpert">
                    <mat-card>
                        <mat-card-subtitle>Here is your result, {{ userName }}!</mat-card-subtitle>
                        <p>{{ formData.length }} questions</p>
                        <mat-card-title>You are {{ classification }} in vitamins knowledge!</mat-card-title>
                        <mat-card-content>
                            <p>Total points: {{ totalPoints }}</p>
                            <p>You are the expert {{ userName }}.</p>
                            <p>However, we still recommend you to take the ff:</p>
                            <mat-chip-list>
                                <mat-chip *ngFor="let vitamin of userVitamins" color="accent" selected>{{ vitamin.name }}</mat-chip>
                            </mat-chip-list>
                        </mat-card-content>
                    </mat-card>
                </ng-container>    
                <div class="mat-stepper-buttons">
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-raised-button color="primary" (click)="stepper.reset()">Reset</button>
                </div>
            </mat-step>
        </mat-stepper>
    </mat-card-content>
    <!-- FORM VALUES -->    
    <!-- <pre>BASICS FORM: {{ basicsFormGroup.value | json }}</pre>
    <pre>GOALS FORM: {{ goalsFormGroup.value | json }}</pre>
    <pre>DIET FORM: {{ dietFormGroup.value | json }}</pre>
    <pre>LIFESTYLE FORM: {{ lifestyleFormGroup.value | json }}</pre> -->
</mat-card>